body {
    background: lightblue;
  }

.title {
    border: groove;
    text-align: center;
    font-size: x-large;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }  

.home {
  border: groove;
  text-align: center;
  font-size: x-large;
  list-style-type: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.parcours {
      border: groove;
      font-size: large;
      list-style-type: none;
      background-color: lightblue;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
  }

  .competences1 {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: groove;
    color: black;
    text-align: center;
  }

  .competences2 {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: groove;
    color: black;
    text-align: center;
  }

  .langues {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: groove;
    color: black;
    text-align: center;
  }

  .coordonnees {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: groove;
    color: black;
    text-align: center;
  }

  li {
      text-align: center;
  }
  
  p {
    font-size: 25px;
  }

  img {
      text-align: right;
  }